@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    background-color: #f1f1f1;
    color: #0f141e;

    font-size: 16px;
    font-weight: normal;
    font-family: 'Roboto', sans-serif;


    /* font: normal 16px 'Roboto', sans-serif; */

    /* font-family: Arial, Helvetica, sans-serif; */
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active {
    color: blue;
}

a:visited {
    color: grey;
}


.card-photo{
    width: 200px;
    border-radius: 28px;
    box-shadow: 4px 4px 14px rgba(0, 0, 0, 025);}

.card p {
    color: #86898f;
    margin: 0;
    font-style: italic;
    font-weight: bold;
    text-decoration: none;
    /* text-transform: uppercase; */
    /* letter-spacing: 2px; */
    /* word-spacing: 10px; */
}

/* Box model */

.cont {
    max-width: 750px;
    margin: auto;}

.card-subtitle {
 background: green;
 padding: 15px;
 padding: 15px 40px;
 margin: 20px;
 border: 5px solid red;
 border-bottom-style: dotted;
 border-top-width: 15px;
 border-right-color: blue;} 
 

/* .box-model > div {
float: left;
background-color: black;
height: 200px;
border: 4px solid red;
width: 25%;} */





























































































































































 */








































































/* body {
    margin: 0;

    background-color: url("../img/pattern.png")

}

.card {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color:#fff;
    box-shadow: 0 5px 10px#ccc;
    border-radius: 10px;
}
 
.card-photo {
    display: block;
    width: 200px;
    height: 200px;
    margin: 0 auto;
    border-radius: 50%;
}

.card-title {
    font-size: 30px;
    text-align: center;
    color: rgb(2, 53, 49);
}

.card-text {
    font-size: 14px;
}
.card-subtitle{
    font-size: 18px;
    color: rgb(34, 7, 70);
}

.card-list {
    padding-left: 0;
    list-style-position: inside;
    font-size: 14px;
}

.card-hobby {
    font-size: 15px;
    color: red;
}

.card-hobbylist {
    padding-left: 0;
    list-style-position: inside;
    font-size: 14px;
}

.inline{
    display: inline-block;
    font-size: 14px;

} */